@charset "utf-8";
/* CSS Document */


  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


/***********************************************
*          		Géneral 						*
************************************************/

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
	
}
body{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  max-width: 1400px;
  padding: 20px 30px;
  margin: 0 auto;
}

a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}
h1, h2, h3, h4{
    font-weight: 700;
}
h1{
    font-size: 22px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}

h4{
	font-size: 18px;
}

/***********************************************
*        HEADER, Menu de naviguation 			*
************************************************/


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	
}

header h1{
    margin-top: 30px; 
	padding-top: 30px;
}
header p{
    margin-top: 5px;
	padding-bottom: 20px;
}

header img{
    width: 61.09px;
    height: 19px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 215px;
    height: 100%;
}
nav a:hover{
    padding-top: 30px;
    color: #0065FC;
    border-top: 2px #0065FC solid;
    font-weight: 500;
}



/***********************************************
*          formulaire de recherche      	   *
************************************************/

form
{
    display: flex;
	
}

.recherche-form {
  display: flex;

border: 1px solid #F2F2F2;
border-radius: 15px;
}

div#localisation
{
	
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.recherche-form input
{
    width: 236px;
    border: 1px solid #F2F2F2;
    padding-left: 16px;
    font-size: 18px;

}

.recherche-form button
{
    border: none;
    width: 132px;

    font-size: 18px;
    color: white;
    background: #0065FC;
    border-radius: 0 15px 15px 0;
}

button.loupe
{
    text-align: center;
    display: none;
}

.recherche-form button:hover
{
    background: #1121f8;
    cursor: pointer;
}

/************************************
*              Filtres              *
************************************/

.filtre
{
    margin-top: 30px;
}


.filtre h2
{
    margin-right: 20px;

}

.filtre div
{
    display: flex;
    margin-right: 0;
    align-items: center;

}

.filtre button
{
    font-size: 11px;

}

.filtre button.filtre-box
{
    border: 2px solid #D9D9D9;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 12px 20px 12px 20px;
    margin-right: 20px;
    transition: all .5s;
	font-weight: 700;
	font-size: 17px;

}

button.filtre-box i
{
    color: #0065FC;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.filtre button.filtre-box:hover
{
    background-color: #DEEBFF;
    cursor: pointer;
    transform: scale(1.1);
}


/************************************
*               Infos               *
************************************/

.information{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px 0 35px  0;
}
.information i{
    color: #0065FC;
    padding: 7px 11px;
    border-radius: 25px;
    border: 1px solid #D9D9D9;
}
.information p{
    margin-left: 11px;
}

/************************************
*        Hébergements      			 *
************************************/

.hebergements-populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 700px;
}
.hebergements{
    width: 63%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.hebergements h1{
    margin: 30px 0 20px 25px;
}
.listes-hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80%;

}
.hebergements-hotel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.carte_hebergement{
    width: 28%;
    height: 215px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 12px #D9D9D9;
}
.carte_hebergement img{
    width: 97%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    border: 3px white solid;
}
.description-hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    padding: 0 0 0 10px;
}
.etoiles{
    display: flex;
    justify-content: flex-start;
}
.etoile_bleu{
    color: #0065FC;
}
.etoile_grise{
    color: #F2F2F2;
}
.affiche_plus{
    padding-left: 25px;
    font-weight: 700;
    font-size: 18px;   
}

 /************************************
*         Populaires      			 *
************************************/ 

.populaires{
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.icone-populaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 25px 20px 25px;
}
.icone-populaire i{
    color: #0065FC;
}
.listes-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;

}
.populaires h1{
    margin: 0px 0 15px 0px;
}
.carte_populaire{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 12px #D9D9D9;
}
.carte_populaire img{
    width: 33%;
    height: 138px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    border: 3px white solid;
}
.description-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 15px;
}

/************************************
*           Activites            	*
************************************/

.activites{
    width: 100%;
    margin-top: 30px;
}
.activites h1{
    padding-bottom: 20px;
}
.marseille-activites{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%
  
}

.carte-activite{
    height: 500px;
    box-shadow: 0px 0px 12px #D9D9D9;
    border-radius: 20px;
	
}
.carte-activite img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.carte-activite h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8%;
    padding-left: 7%;
}

/************************************
*           A propos          		 *
************************************/

footer
{
	 margin-top: 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
	 padding: 50px 0px 0px 20px;
}

footer div
{
    width: 25%
}

footer ul
{
    list-style-type: none;
    padding: 20px 0px 0px 0px;
}

footer li
{
    margin-bottom: 20px;
}

footer a:hover
{
    text-decoration: underline;
}


/************************************
*          Tablette      		    *
************************************/

@media screen and (max-width: 992px) {
	
	.filtre{
        justify-content: flex-start;
    }

    .boutton_filtre div{
        width: auto;
    }
    .hebergements-populaires{
        flex-direction: column;
        height: 950px;
    }
    .hebergements{
        width: 100%;
        height: 626px;
    }
	
    .populaires{
        width: 100%;
        height: 278px;
    }
    .icone-populaire{
        margin-bottom: 0;
    }
    .listes-populaires{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .carte_populaire{
        width: 30%;
    }
		
    .carte-activite{
        height: 267px;
	}
    .carte-activite img{
        height: 211px;
    }
    .carte-activite h3{
        height: 54px;
    }
}

/************************************
*           Mobile      		    *
************************************/


@media screen and (max-width: 768px) {
	
    body{
        margin: 0;
    }
	
    header{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 85px;
        padding-top: 25px;
    }
    .menu img{
        padding-bottom: 30px;
    }
    nav{
        align-items: flex-start;
        width: 100%;
    }
    nav a{
        width: 50%;
        text-align: center;
        padding-bottom: 11px;
        border-bottom: 3px solid #F2F2F2 ;
    }
    nav a:hover{
        border-top: 0;
        padding-top: 0;
        padding-bottom: 11px;
        border-bottom: 3px solid #0065FC;
    }
    header h1, header p{
        margin: 3% 5% 0 5%;
    }
	
     .recherche-form{
        width: 100%;
        margin-right: 10px;
    }

    #localisation{
        width: 15%;
    }

    .recherche-form input{
        width: 70%;
    }
     .recherche-form button{
        display: none;
    }
    .recherche-form button.loupe{
        display: block;
        align-items: center;
        justify-content: center;
        width: 20%;
    }       

    .filtre{
        flex-direction: column;
        align-items: flex-start;
    }
    .filtre h2{
        margin-bottom: 10px;
    }
    .boutton_filtre{
        flex-wrap: wrap;
        justify-content: space-between;
        height: 140px;
    }
	.texte_filtre{
        flex-direction: column;
        margin: 0px;
	}
	.texte_filtre h2{
        margin-bottom: 20px;
    }

	.liste-filtre{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
	.filtre button.filtre-box{
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        width: 48%;
        height: 50px;
        text-align: left;
        font-size: 11px;
        margin-bottom: 10px;
        overflow: hidden;
        margin-right: 0px;
        word-wrap: break-word;
		font-weight: 700;
    }

    .information{
        margin: 0 5% 4% 5%;
    }
	
    .hebergements-populaires{
        flex-direction: column-reverse;
        height: 100%;
    }
	
    .populaires, .hebergements{
        height: 100%;
        border-radius: 0;
    }
	
    .icone-populaire{
        margin-bottom: 20px;
    }
    .listes-populaires{
        flex-direction: column;
        justify-content: space-around;
        height: 480px;
        padding-bottom: 30px
    }
    .carte_populaire{
        width: 90%;
    }
	
    .hebergements{
        background-color: white;
    }
    .hebergements-hotel{
        flex-direction: column;
        align-items: center;
        height: 700px;
    }
    .carte_hebergement{
        width: 90%;
    }
	
    .affiche_plus{
        display: none;
    }
	
    .activites{
		margin: 10% 0 10% 5%;
		width: 90%;
    }
    .marseille-activites{
		grid-template: none;
		grid-template-rows: auto;
		gap: 2%;
    }
	.carte-activite{
		height: 190px;
    }
    .carte-activite img{
        height: 134px;
    }
    .carte-activite h3{
        height: 50px;
    }
	
    footer{
        flex-direction: column;
        word-wrap: break-word;
    }
    footer div{
        margin: 0px 0px 20px 30px;
        width: auto;
    }
}